services:
  backend:
    build: ./backend
    ports:
      - 2020:8080
    env_file:
      - .env
    networks:
      - db-network
      - front-network
    depends_on:
      - db
    volumes:
      - ./front/static/pages:/srv/www/front/static/pages
  db:
    image: postgres
    env_file:
      - .env
    networks:
      - db-network
    volumes:
      - ./sql/postgres_data:/var/lib/postgresql
      - ./sql/init:/docker-entrypoint-initdb.d/
    restart: unless-stopped
  front:
    build: ./front
    ports:
      - 2021:2000
    networks:
      - front-network

  nginx:
    image: nginx:latest
    ports:
      - 80:80
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - front
      - backend
    networks:
      - front-network

networks: 
  db-network:
    driver: bridge

  front-network:
    driver: bridge